{% extends 'layouts/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="bg-transparent d-flex align-items-center justify-content-center w-100" style="height: 93vh; min-width: 375px;">
    <div class="bg-dark p-4 bd-highlight col-example card shadow w-25 text-center" style="min-width: 18rem;">
        <form method="post">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <img class="mb-4" src="{{ asset('IMG/Logo.png') }}" alt="" width="72" height="67">
            <h1 class="h3 mb-4 font-weight-normal text-center" style="color:#FFF;">Authentication</h1>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3"
                autocomplete="email" placeholder="Email" required autofocus>
            <input type="password" name="password" id="inputPassword" class="form-control mb-3"
                autocomplete="current-password" placeholder="Password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me
            functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}
            <div class="col-md-12 text-center">
                <button class="btn btn-sm btn-outline-danger" type="submit">Sign in</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}