<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEM-Store | {% block title %}!{% endblock %}</title>
    <link rel="icon" href="{{ asset('IMG/favicon.png') }}" type="image/png">
    <link rel="shortcut icon" href="{{ asset('IMG/Logo.png') }}" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% block stylesheets %}
    {% endblock %}

</head>

<body style="background: #DDD;">
    {% include "layouts/partials/_nav.html.twig" %}
    {% block body %}
    {% endblock %}
    {% include "layouts/partials/_footer.html.twig" %}
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    {% block javascripts %}
    {% endblock %}
</body>

</html>