{% extends "layouts/base.html.twig" %}

{% block title %}Edit Sale{% endblock %}

{% block body %}
<div class="container">
    <div class="card shadow my-4 p-4 mx-5">
        <div class="d-flex">
            <h1>Edit Sale N°{{ sale.id }}</h1>
            <div class="ms-auto">{{ include('transactions/sale/_delete_form.html.twig') }}</div>
        </div>

        {{ include('transactions/sale/_form.html.twig', {'button_label': 'Update'}) }}

    </div>
</div>
{% endblock %}