{% extends "layouts/base.html.twig" %}

{% block title %}New Storage{% endblock %}

{% block body %}
<div class="container">
    <div class="card shadow my-4 p-4 mx-5">
        <h1>New Product Storage</h1>
    
        {{ include('storage/_form.html.twig') }}
    </div>
</div>
{% endblock %}
